.venv
__pycache__
*.py[cod]
*$py.class
.pytest_cache
.mypy_cache
.ruff_cache
htmlcov
.coverage
*.egg-info
.git
.gitignore
.env
.env.local
.env.local.test
*.md
!docs/DOCKER.md
postman
seed
tests
scripts/local_supabase.sh
supabase/.branches
supabase/.temp
